<!-- イイネボタン -->

<!-- ログインしていないユーザーにいいねの制限 -->
<% if user_signed_in? %>
	<!-- ログインユーザーが投稿にイイねしていない場合	 -->
	<% if book.has_favorite(current_user.id) %>
    <%= button_to book_favorites_path(book_id: book.id), method: :delete, class: "btn btn-danger", remote: true do %>
					<span>いいね!</span>
					<span><%= book.favorites.count %></span>
    <% end %>

  <!-- イイねしている場合 -->
	<% else %>
		<%= button_to book_favorites_path(book.id), method: :post, class: "btn btn-primary", remote: true do  %>
			<span>いいね!</span>
			<span><%=book.favorites.count %></span>
		<% end %>
	<% end %>

<% else %>
			<span>いいね!</span>
			<span><%=book.favorites.count %></span>
<% end %>

