<!-- エラーメッセージの表示 -->
<%= render 'pages/erorr-messages', object: @book %>

<%= form_for(book) do |f| %>

	<div class="form-group">
		<p>Title</p>
		<%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
	</div>

	<div class="form-group">
		<p>Body</p>
		<%= f.text_area :body, class: "form-control", placeholder: "本文(200文字まで)"  %>
	</div>

		<%= f.submit "#{btn_name}", class: "btn btn-primary btn-block" %>

<% end %>
