<!-- ユーザー情報を表示 -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'books/book-alert-msg' %>
	</div>
	<div class="col-md-6 col-md-offset-3 show-box">
		<div class="row show-book-user">
				<%= user_image_tag(@user, 100, 100, "col-md-3 img-circle") %>
				<h2 class="col-md-offset-2 col-md-7 show-user-name"> <%= @user.name %> </h2>
		</div>

		<!-- 投稿詳細情報を表示 -->
		<div>
			<div class="row show-title">
				<p class="col-md-3">Title</p>
				<p class="col-md-8"><%= @book.title %></p>
			</div>
			<div class="row show-opinion">
				<p class="col-md-3">Opinion</p>
				<p class="col-md-8"><%= @book.body %></p>
			</div>
		</div>
		<!-- ボタンの表示 -->
		<div class="row show-book-btn">
			<div class="btn-group col-md-offset-7 ">
				<!-- 詳細ページへ -->
					<%= link_to "Show", book_path(@book), class: "btn btn-info" %>

				<!-- 投稿者のみに制限 -->
				<% if @book.user == current_user %>
					<!-- 編集ページへ -->
						<%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>

					<!-- 投稿削除 -->
						<%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
				<% end %>
			</div>
		</div>
	</div>
</div>




