<div class="show-text-box">

	<!-- 編集時のみ表示 -->
	<p class="edited-text">
		<%= flash[:notice] %>
	</p>

	<!-- 内容表示 -->
	<p class="show-text">
		<strong>Title:</strong> <%= @book.title %>
	</p>
	<p class="show-text">
		<strong>Body:</strong> <%= @book.body %>
	</p>
</div>

<div class="show-link-box">
	<%= link_to "Edit", edit_book_path, class: "book-links" %>
	 | 
	 <%= link_to "Back", books_path, class: "book-links" %>
</div>