<header class="navbar navbar-inverse navbar-fixed-top container-fluid">
	<div class="container">

		<!-- ロゴの表示 -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo-text" href="#">
				<span class="glyphicon glyphicon-book" area-hiden="true">Bookers</span>
			</a>
		</div>

		<!-- ナビバーを表示 -->
		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to " Home", top_path, class: "glyphicon glyphicon-home", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to " About", about_path, class: "glyphicon glyphicon-link", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to " Sign in", new_user_registration_path, class: "glyphicon glyphicon-edit", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to " Log in", new_user_session_path, class: "glyphicon glyphicon-log-in", "aria-hidden" => true %>
				</li>

				<!-- ログイン済み表示,   実装まだ
				<% if %>
					<li>
					<%= link_to "   ホーム", top_path, class: "glyphicon glyphicon-home", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to "   user一覧", "#", class: "glyphicon glyphicon-user", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to "   book一覧", "#", class: "glyphicon glyphicon-book", "aria-hidden" => true %>
				</li>
				<li>
					<%= link_to "   ログアウト", "#", class: "glyphicon glyphicon-log-out", "aria-hidden" => true %>
				</li>
				未ログイン表示
				<% else %>
					<li>
						<%= link_to "トップ", "#" %>
					</li>
					<li>
						<%= link_to "アバウト", "#" %>
					</li>
					<li>
						<%= link_to "サインアップ", "#" %>
					</li>
					<li>
						<%= link_to "ログイン", "#" %>
					</li>
				<% end %> -->
			</ul>
		</div>

	</div>
</header>