<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<!-- ヘッダーの表示 -->
  	<%= render 'layouts/header' %>

    <div class="container">

      <!-- flashメッセージを表示 -->
      <% if flash[:log_in] %>
        <div class="alert alert-success">
          <%= flash[:log_in] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <!-- フッターの表示 -->
    <%= render 'layouts/footer' %>
  </body>
</html>
